body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
}

#one, #two, #three, #four {
	background: green;
	width: 200px;
	height: 100px;
}

#game {
	background: darkred;
	width: 850px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.sheet {
	background: orange;
	border-radius: 10px;
	width: 30px;
	height: 35px;
}